[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
selenium = "*"

[packages]
numpy = "*"
pandas = "*"
selenium = "*"
bokeh = "*"
sklearn = "*"
matplotlib = "*"
setuptools = "*"
wheel = "*"
scipy = "*"
scikit-learn = "*"
jupyter = "*"

[requires]
python_version = "3.8"
